<h4 class="sectionHeader">Add Specialization to <%=title%><hr></h4>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="spec-title">Title</label>
        <div class="controls">
            <input type="text" id="spec-title" name="spec-title" placeholder="Air & Space Design">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="addSpecialization" type="submit" class="btn">Add</button>
        </div>
    </div>
</form>