<h3>Admin Section</h3>
<form id="signupForm" class="form-horizontal">
    <legend>New Admin</legend>
    <div class="control-group">
        <label class="control-label">First Name</label>
        <div class="controls">
            <div class="input-prepend">
                <input type="text" class="input-xlarge" id="firstName" name="firstName" placeholder="First Name">
            </div>
        </div>
    </div>
    <div class="control-group ">
        <label class="control-label">Last Name</label>
        <div class="controls">
            <div class="input-prepend">
                <input type="text" class="input-xlarge" id="lastName" name="lastName" placeholder="Last Name">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
            <div class="input-prepend">
                <input type="text" class="input-xlarge" id="email" name="email" placeholder="Email">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
            <div class="input-prepend">
                <input type="Password" id="password" class="input-xlarge" name="password" placeholder="Password">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Confirm Password</label>
        <div class="controls">
            <div class="input-prepend">
                <input type="Password" id="confirmPassword" class="input-xlarge" name="confirmPassword" placeholder="Re-enter Password">
            </div>
        </div>
    </div>

    <!--<div class="control-group">-->
        <!--<label class="control-label">Role</label>-->
        <!--<div class="controls">-->
            <!--&lt;!&ndash;<div class="input-prepend">&ndash;&gt;-->
            <!--<div>-->
                <!--&lt;!&ndash;<input type="Password" id="confirmPassword" class="input-xlarge" name="confirmPassword" placeholder="Re-enter Password">&ndash;&gt;-->
                <!--<input type="radio" name="roleType" value="student" checked>&nbsp;Student<br>-->
                <!--<input type="radio" name="roleType" value="counselor">&nbsp;Counselor-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button id="createAdmin" type="submit" class="btn btn-success" >create</button>
        </div>

    </div>

</form>