<div></div>
<div>
    <h3>What if...</h3>
    <p>
        Can you confidently say that you are born to be a doctor, an engineer, a businessman,
        bureaucrat, politician, pilot or an academician? Trying to convince ourselves of the career choices made by us
        or our parents does not quell the doubts in the credibility of those choices.
    </p>
    <ul>
        <li>What if this is not what we want to become?</li>
        <li>What if we realize midway that we should have followed our heart?</li>
        <li>What if we had convinced our parents of our choices before?</li>
    </ul>
</div>

<p>In order to remove these ‘What ifs’, we need to be on the same page with our skills, talents, experiences,
    expectations and the career choice we intend to make.</p>

<p>In this world of multiple choices and innumerable options, a little guidance helps greatly.
    Someone who can make our parents see worth in our career choices and most importantly
    someone who can bring an accord between our heart and mind.</p>

<div>
    <h3>Why CareerDB?</h3>
    <p>To remove your confusion, CareerDB brings you a repository of choices with comprehensive information of the
        educational requirements and the career paths open for you.
    </p>

    <ul class="ulNoBullet">
        <li>
            <span class="bulletHeader">Identify your long term goals</span>
            <p>At times students just follow the rhythm of the life. They don’t take out a moment to identify
            their long term plans. They choose their subjects with the help of their parents well meaning
            advice or by following the herd. But then, they end up wasting the most crucial time of their
            lives in learning something which might just not be useful for them. So, this Career DB will
            help you identify your long term goals quite early in your life.</p>
        </li>

        <li>
            <span class="bulletHeader">Remove your confusions</span>
            <p>There are so many factors on which your career choices depend. Sometimes we feel that we are best
            suited for multiple careers. This once again lands us in the state of confusion. Your career should
            perfectly match with your interests, skills, knowledge, experience and aspirations. Thus, Career DB,
            will help you see the pros and cons of every choice so that you know what’s best for you.</p>
        </li>

        <li>
            <span class="bulletHeader">Educational requirements</span>
            <p>Once you are clear about your career goal, you need to know the ways and methods to achieve that goal.
            So, you can find every single educational and skills requirement of your career option on Career DB.</p>
        </li>

        <li>
            <span class="bulletHeader">Career Planning</span>
            <p>Career DB will help you plan your career the right way and at the right time. You will know beforehand
            'what to do and how to do’ to make a successful career in the area of your interest.</p>
        </li>
    </ul>

</div>
