<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i> <%=firstName%>
    <span class="caret"></span>
</a>
<ul id="user-actions" class="dropdown-menu">
    <!--<li><a href="@routes.UserController.profile()">@Messages("enquiry.navigation.profile")</a></li>-->
    <!--@if(Secured.isAdmin() || Secured.isSuperAdmin()) {-->
    <!--<li><a href="@routes.Admin.index()">Admin</a></li>-->
    <!--}-->
    <!--<li class="divider"></li>-->
    <!--<li><a href="@routes.Application.logout()"><i class="icon-off"></i> @Messages("enquiry.navigation.logout")</a></li>-->
</ul>