<h3>Admin Section</h3>
<legend>New Occupation</legend>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="title">Title</label>

        <div class="controls">
            <input type="text" id="title" name="title" placeholder="Industrial Designers">
        </div>
    </div>
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="code">Code</label>-->

        <!--<div class="controls">-->
            <!--<input type="text" id="code" placeholder="en, en_ar)">-->
        <!--</div>-->
    <!--</div>-->
    <div class="control-group">
        <div class="controls">
            <button id="createOccupation" type="submit" class="btn">Create</button>
        </div>
    </div>
</form>