<div class="row-fluid">
    <div class="span10">
        <div class="well" id="addQueryEditorContainer" style="display: none">
            <form class="form-horizontal">
                <div>
                    <textarea class="input-xlarge" name="addQueryEditor" id="addQueryEditor" style="width: 100%; outline: none;"></textarea>
                </div>
                <div style="margin-top: 20px;">
                    <input id="createNewQueryBtn" type="submit" class="btn btn-primary" value="Save" />
                    <input id="cancelNewQueryBtn" type="button" class="btn" value="Cancel" />
                </div>
            </form>
        </div>
    </div>
    <div id="addQueryBtnContainer" class="span2"></div>
</div>
