<div class="row-fluid">
    <div class="span10">
        <div class="well" id="addQueryEditorContainer" style="display: none">
            <form class="form-horizontal" action="" method="post">
                <div>
                    <textarea class="input-xlarge" name="addQueryEditor" id="addQueryEditor" style="width: 100%; outline: none;"></textarea>
                </div>
                <div style="margin-top: 20px;">
                    <input id="createNewQueryBtn" type="submit" class="btn btn-primary" value="Save" />
                    <input id="cancelNewQueryBtn" type="button" class="btn" value="Cancel" />
                </div>
            </form>
        </div>
    </div>
    <!--<div class="modal hide fade" id="editor_preview">-->
        <!--<div class="modal-header">-->
            <!--<a class="close" data-dismiss="modal">×</a>-->
            <!--<h3>Editor</h3>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
            <!--<p>Editor</p>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<a href="#" class="btn" data-dismiss="modal">Close</a>-->
        <!--</div>-->
    <!--</div>-->
    <div id="addQueryBtnContainer" class="span2"></div>
</div>
