<div id="newQuery"></div>
<div id="queryTable"></div>

<!--<div>-->
    <!--<table id="testTable" class="dataTable">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<td>Query</td>-->
            <!--<td>Status</td>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
            <!--<td>Some query</td>-->
            <!--<td>New</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>Another query</td>-->
            <!--<td>Open</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->

