<div id="basicInfo" class="sectionDiv"></div>
<div id="schoolPrep" class="sectionDiv"></div>
<div id="collegeAdmission" class="sectionDiv"></div>
<div id="specializations" class="sectionDiv"></div>
<div id="addSpecialization" class="sectionDiv"></div>
<div id="careerConnect" class="sectionDiv"></div>
<div id="occupations" class="sectionDiv"></div>
<div id="salary" class="sectionDiv"></div>
<div id="collegeUniv" class="sectionDiv"></div>
<div id="admin" class="sectionDiv">
    <div id="newOccupation"></div>
    <div id="newCollege"></div>
</div>