<legend>New College</legend>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="title">Title</label>

        <div class="controls">
            <input type="text" id="title" name="title" placeholder="IIT Delhi">
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="website">Website</label>

    <div class="controls">
    <input type="text" id="website" name="website" placeholder="http://www.ae.iitm.ac.in/">
    </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="createCollege" type="submit" class="btn">Create</button>
        </div>
    </div>
</form>