@(loginForm: Form[form.LoginForm])
<html>
    <head>
        <title>@Messages("app.title")</title>

	    <!-- Le meta -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Enquiry Tracker">
	    <meta name="author" content="Abhishek">
        
        <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
		<link href="@routes.Assets.at("css/bootstrap-responsive.css")" rel="stylesheet">
		<link href="@routes.Assets.at("css/custom.css")" rel="stylesheet">
		<link href="@routes.Assets.at("css/layout.css")" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
    
    </head>
    
    
    <body>
	    <div id="header-region" class="navbar navbar-fixed-top navbar-inner">
            <div class="container">
	    	    <a class="brand" href="@routes.Application.index()">@Messages("app.title")</a>
                
            </div>
	    </div>
	    
	    <div id="content">
		    <div class="container">
		        <!-- Main content -->
                @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                    <div class="alert alert-error">
                        @flash().get(Application.FLASH_ERROR_KEY)
                    </div>
                }
                @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                    <div class="alert alert-success">
                        @flash().get(Application.FLASH_MESSAGE_KEY)
                    </div>
                }
		        <div>
					  <div class="hero-unit">
				        <h1>@Messages("index.intro")</h1>
				      </div>
				
				      <!-- Example row of columns -->
				      <div class="row-fluid">
				        <div class="span8">
				          <h2>Create quickly. Manage effortlessly.</h2>
				           <p>A hassle free way to create, manage and track student profiles.</p>
				        </div>
				        
				        <div class="span4">
				          <div id="login" class="row-fluid">
					   		<form class="form-horizontal" action="@routes.Application.doLogin()" method="post">
								<div class="control-group">
									<input type="text" id="email" name="email" placeholder="Email">
								</div>
								<div class="control-group">
									<input type="password" id="password" name="password"
										placeholder="Password">
								</div>
								<div>
									<button type="submit" class="btn btn-primary">@Messages("login.title")</button>
								</div>
					
							</form>
				          </div>
				        </div>
				      </div>    
		        </div>
		    </div> 
		</div>
		
		<div id="footer-region" class="container">
		  <hr>
	      <footer>
	        <p>&copy; 2014 Profiler</p>
	        <p>
	        <small>Styles by <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Twitter Bootstrap</a> &middot; </small></p>
	      </footer>
		</div>
	    

    </body>
</html>